.form {
    display: flex;
    flex-direction: column;
    margin-left: 156px;
    margin-top: 36px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04px;
    font-size: 16px;
}
        
button {
    display: flex;
    width: 360px;
    height: 40px;
    padding: 8px 16px;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #4e75ff;
    border: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
}

button:hover {
    background-color: #6c8cff;
}

fieldset {
    width: 334px;
    height: 64px;
    border: 1px solid #808080;
    color: #2e2f42;
    border-radius: 4px;
    margin: 0;
    letter-spacing: 0.64px;
    display: flex;
    justify-content: space-evenly;

}

input[name="delay"] {
    width: 342px;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 5px;
    margin: 10px 0;
    padding: 0;
    display: block;
    padding-left: 16px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04px;
}

input[name="state"] {
    margin-top: 20px;
}